:root {
  --primary-brown: #8B4513;
  --secondary-brown: #5D4037;
  --hover-brown: #A0522D;
  
  --cream-bg: #FFF5E1;
  --card-cream: #fff5e1;
  --light-cream: #fff7f1;
  
  --accent-pink: #FFC0CB;
  
  --border-orange: #ff2600a9;
  --overlay-cream: rgba(255, 245, 225, 0.6);
  --shadow-color: rgba(0, 0, 0, 0.1);
  
  --success-green: #28a745;
  --danger-red: #dc3545;
  --white: #ffffff;
}