.cuerpo-home {
  background-color: #FFF5E1;
  min-height: 100vh;
  padding-top: 20rem;
}

.encabezado-home {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 40px;
}

.titulo-bienvenida {
  color: #8B4513;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
}

.imagen-principal {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.tarjeta-home {
  height: 100%;
}

.titulo-seccion-home {
  color: #8B4513;
  font-family: 'Pacifico', cursive;
}

.imagen-seccion {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.carousel .imagen-seccion,
.card .imagen-seccion {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.boton-catalogo,
.boton-nosotros {
  background-color: #D2691E;
}

.pie-home {
  background-color: #8B4513;
}